---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ollama
  namespace: ai
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      runtimeClassName: nvidia
    controllers:
      main:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.6.5
            env:
              TZ: ${TIMEZONE}
              LIBVA_DRIVER_NAME: nvidia
              OLLAMA_HOST: 0.0.0.0
              OLLAMA_ORIGINS: "*"
              OLLAMA_MODELS: /models
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 200m
                memory: 2Gi
                nvidia.com/gpu: 1
              limits:
                cpu: 4
                memory: 16Gi
                nvidia.com/gpu: 1
    service:
      main:
        controller: main
        ports:
          http:
            port: &port 11434

    persistence:
      config:
        enabled: true
        existingClaim: ollama
        globalMounts:
          - path: /models
