---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
  namespace: ai
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    defaultPodOptions:
      runtimeClassName: nvidia
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nvidia.com/gpu
                    operator: In
                    values: ["true"]
    controllers:
      app:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.13.0
            env:
              TZ: ${TIMEZONE}
              LIBVA_DRIVER_NAME: nvidia
              OLLAMA_HOST: 0.0.0.0
              OLLAMA_ORIGINS: "*"
              OLLAMA_MODELS: /models
            probes:
              startup: &probeBase
                enabled: true
                custom: true
                spec:
                  httpGet: &httpGet
                    path: /api/tags
                    port: 11434
                  initialDelaySeconds: 10
                  periodSeconds: 5
                  timeoutSeconds: 3
                  failureThreshold: 30
              liveness:
                <<: *probeBase
                spec:
                  httpGet: *httpGet
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness:
                <<: *probeBase
                spec:
                  httpGet: *httpGet
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 200m
                memory: 256Mi
                nvidia.com/gpu: 1
              limits:
                cpu: 4
                memory: 16Gi
                nvidia.com/gpu: 1
    service:
      app:
        controller: app
        ports:
          http:
            port: 11434

    persistence:
      config:
        enabled: true
        existingClaim: ollama
        globalMounts:
          - path: /models
