---
# yaml-language-server: $schema=https://raw.githubusercontent.com/cloudnative-pg/charts/refs/heads/main/charts/cluster/values.schema.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres16
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-standard-trixie@sha256:2ac5e65f40c1696e0c4eb88516a37fafc73c680de0f911a8c73e0d36e1183eb5
  instances: 3
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  postgresql:
    parameters:
      max_connections: "400"
      shared_buffers: 512MB
      huge_pages: "on"
      # io_method: "io_uring" # Disabled: CloudNativePG runs PostgreSQL containers with capabilities: { drop: ["ALL"] }
      # which prevents io_uring from working. io_uring requires specific Linux capabilities (SYS_RESOURCE)
      # that CloudNativePG doesn't grant for security reasons. The worker method provides similar
      # asynchronous I/O performance using dedicated worker processes instead of io_uring.
      io_method: "worker"
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true
  resources:
    requests:
      cpu: 500m
      memory: 500Mi
    limits:
      memory: 4Gi
      hugepages-2Mi: 2Gi
  monitoring:
    enablePodMonitor: true
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters: &barmanParameters
        barmanObjectName: r2
        # Note: serverName version needs to be incremented
        # when recovering from an existing cnpg cluster
        serverName: postgres18
  # Note: previousCluster needs to be set to the name of the previous
  # cluster when recovering from an existing cnpg cluster
  bootstrap:
    recovery:
      source: &previousCluster postgres17
  # Note: externalClusters is needed when recovering from an existing cnpg cluster
  externalClusters:
    - name: *previousCluster
      plugin:
        enabled: true
        isWALArchiver: false
        name: barman-cloud.cloudnative-pg.io
        parameters: *barmanParameters
