---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmrelease.yaml
  - secret.sops.yaml
  - ocirepository.yaml
patchesStrategicMerge:
  - |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      labels:
        app.kubernetes.io/instance: crowdsec
    spec:
      template:
        spec:
          initContainers:
          - name: init-db
            image: ghcr.io/home-operations/postgres-init:18
            envFrom:
            - secretRef:
                name: crowdsec-secret
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi
