---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &app node-exporter
spec:
  staticConfigs:
    - targets:
        - ${TRUENAS_IP}:9100
        - 192.168.0.1:9100 # opnsense
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *app
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &app smartctl-exporter
spec:
  staticConfigs:
    - targets:
        - ${TRUENAS_IP}:9633
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *app
