---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app opencode
  namespace: &namespace ai
spec:
  interval: 10m
  path: ./kubernetes/apps/ai/opencode/app
  targetNamespace: *namespace
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: volsync
      namespace: volsync-system
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 100Mi
