#shellcheck disable=SC2148,SC2155

# Directory paths
export ROOT_DIR="$PWD"
export KUBERNETES_DIR="$ROOT_DIR/kubernetes"
export SCRIPTS_DIR="$ROOT_DIR/scripts"

# Kubeconfig
export KUBECONFIG="$(expand_path ./kubeconfig)"

# Sops configuration
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export SOPS_CONFIG_FILE="$ROOT_DIR/.sops.yaml"

# Bootstrap configuration
export BOOTSTRAP_CONFIG_FILE="$ROOT_DIR/config.yaml"

# Venv
PATH_add "$(expand_path ./.venv/bin)"
export VIRTUAL_ENV="$(expand_path ./.venv)"
export PYTHONDONTWRITEBYTECODE="1"

# Talos
export TALOSCONFIG="$(expand_path ./kubernetes/bootstrap/talos/clusterconfig/talosconfig)"

# Bin
PATH_add "$(expand_path ./.bin)"

# Taskfile
export TASK_X_ENV_PRECEDENCE=1
export TASK_X_MAP_VARIABLES=0
