---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app fileflows
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    annotations:
      reloader.stakater.com/auto: "true"
    defaultPodOptions:
      runtimeClassName: nvidia
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nvidia.com/gpu
                    operator: In
                    values: ["true"]
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }

    controllers:
      fileflows:
        initContainers:
          init-dirs:
            image:
              repository: busybox
              tag: latest
            command:
              - sh
              - -c
              - |
                mkdir -p /app/Data /app/Logs /app/ManuallyAdded /temp
                chown -R 0:0 /app /temp
            securityContext:
              runAsUser: 0

        containers:
          app:
            image:
              repository: docker.io/revenz/fileflows
              tag: 25.11@sha256:889432a0cedf439561c587230a5939f76082cac49b8af1b332facad58981504f
            env:
              TZ: ${TIMEZONE}
              PUID: "568"
              PGID: "568"
            resources:
              requests:
                cpu: 400m
                memory: 512Mi
                nvidia.com/gpu: 1
              limits:
                cpu: 2
                memory: 3Gi
                nvidia.com/gpu: 1

    service:
      fileflows:
        controller: *app
        ports:
          http:
            port: 5000

    route:
      fileflows:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/Data
            readOnly: false

      temp:
        type: emptyDir
        globalMounts:
          - path: /temp
            readOnly: false

      media:
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/BIGHDDZ1/Media
        globalMounts:
          - path: /media
            readOnly: false
