---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app spoolman
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    controllers:
      spoolman:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom:
              - secretRef:
                  name: spoolman-secret
        containers:
          app:
            image:
              repository: ghcr.io/donkie/spoolman
              tag: 0.23.1
            env:
              SPOOLMAN_DB_TYPE: postgres
              SPOOLMAN_DB_HOST:
                valueFrom:
                  secretKeyRef:
                    name: spoolman-secret
                    key: INIT_POSTGRES_HOST
              SPOOLMAN_DB_NAME:
                valueFrom:
                  secretKeyRef:
                    name: spoolman-secret
                    key: INIT_POSTGRES_DBNAME
              SPOOLMAN_DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: spoolman-secret
                    key: INIT_POSTGRES_USER
              SPOOLMAN_DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: spoolman-secret
                    key: INIT_POSTGRES_PASS
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 25m
                memory: 256Mi
              limits:
                cpu: 100m
                memory: 512Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8000

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
