---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: speedtest-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  driftDetection:
    mode: enabled

  values:
    configMaps:
      config:
        data:
          config.yaml: |
            cache: "6h"
    controllers:
      speedtest-exporter:
        containers:
          speedtest-exporter:
            image:
              repository: ghcr.io/heathcliff26/speedtest-exporter
              tag: v1.0.16
            args:
              - -config
              - /config/config.yaml
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
        pod:
          securityContext:
            runAsGroup: 1000
            runAsUser: 1000
            runAsNonRoot: true
    persistence:
      config:
        type: configMap
        identifier: config
    service:
      speedtest-exporter:
        controller: speedtest-exporter
        ports:
          http:
            port: 8080
    serviceMonitor:
      speedtest-exporter:
        serviceName: speedtest-exporter
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 5m
            scrapeTimeout: 2m
            metricRelabelings:
              - sourceLabels: [job]
                targetLabel: job
                replacement: "integrations/speedtest"
