---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dumbassets
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: dumbwareio/dumbassets
              tag: 1.0.11@sha256:1bbe3a1c4aa404f3cbd9641cbf7ef24dfd3f4f09a92570eecc88d48de31517ab

            env:
              NODE_ENV: production
              DEBUG: false
              SITE_TITLE: "DumbAssets"
              BASE_URL: "https://dumbassets.${SECRET_DOMAIN}"
              DUMBASSETS_PIN: 1234
              ALLOWED_ORIGINS: "*"
              CURRENCY_CODE: "EUR"
              CURRENCY_LOCALE: "nl-BE"

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi

    service:
      app:
        controller: app
        ports:
          http:
            port: 3000

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /app/data
