---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ollama
  namespace: &namespace ai
spec:
  interval: 10m
  path: ./kubernetes/apps/ai/ollama/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  components:
    - ../../../../components/cpu-scaler
  postBuild:
    substitute:
      APP: ollama
      NAMESPACE: *namespace
      KIND: Deployment
      MAX_REPLICAS: "1"
      CPU_THRESHOLD: "5"
