---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app searxng
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    controllers:
      app:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/searxng/searxng
              tag: 2025.6.25-8757655@sha256:2ae57bba39cab585f5c7a1223dd51eb6494fa6febd67b871d4bddf52fce08f16
            command:
              - /usr/local/searxng/venv/bin/uwsgi
              - --master
              - /usr/local/searxng/.template/uwsgi.ini
              - --listen
              - "256"
            env:
              BASE_URL: https://search.${CLUSTER_DOMAIN}
              UWSGI_WORKERS: "1"
            envFrom:
              - secretRef:
                  name: searxng-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 8080
                  initialDelaySeconds: 15
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              runAsUser: 977
              runAsGroup: 977
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
                add:
                  - CHOWN
                  - SETGID
                  - SETUID
                  - DAC_OVERRIDE
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                cpu: 100m
                memory: 1Gi
    pod:
      securityContext:
        fsGroup: 977
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
    service:
      app:
        controller: app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        type: configMap
        name: searxng-configmap
        advancedMounts:
          app:
            app:
              - path: /etc/searxng/settings.yml
                subPath: settings.yml
              - path: /etc/searxng/limiter.toml
                subPath: limiter.toml
      tmp:
        type: emptyDir
        medium: Memory
        advancedMounts:
          app:
            app:
              - path: /etc/searxng
              - path: /tmp
