---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: jellystat
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
  wait: false
  path: ./kubernetes/apps/media/jellystat/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  retryInterval: 1m
