apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: $APP-manual
  namespace: $NS
spec:
  trigger:
    manual: $PREVIOUS
  restic:
    repository: $APP-volsync-secret
    copyMethod: Direct
    # destinationPVC is not used when using volume population via dataSourceRef
    # The PVC will be populated automatically by VolSync's volume populator
    storageClassName: openebs-zfs
    accessModes: ["ReadWriteOnce"]
    capacity: 5Gi
    cacheStorageClassName: openebs-hostpath
    cacheAccessModes: ["ReadWriteOnce"]
    cacheCapacity: 8Gi
    moverSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
