---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: unpackerr
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  wait: true
  path: ./kubernetes/apps/media/unpackerr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  components:
    - ../../../../components/cpu-scaler
  postBuild:
    substitute:
      APP: unpackerr
      NAMESPACE: *namespace
      KIND: Deployment
      MAX_REPLICAS: "1"
      CPU_THRESHOLD: "10"
