---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: comfyui
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      comfyui:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          runtimeClassName: nvidia
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: nvidia.com/gpu
                        operator: In
                        values: ["true"]
              preferredDuringSchedulingIgnoredDuringExecution:
                - weight: 100
                  preference:
                    matchExpressions:
                      - key: kubernetes.io/hostname
                        operator: In
                        values:
                          - control-1

        containers:
          app:
            image:
              repository: ghcr.io/ai-dock/comfyui
              tag: v2-cuda-12.1.1-base-22.04-v0.2.7@sha256:ca4c95d4d4743d7d5683e57f5e0358fe586bc57578f66c2a844e9fa0650cc619

            env:
              AUTO_UPDATE: "false"
              DIRECT_ADDRESS_GET_WAN: "true"
              SERVICEPORTAL_URL: "comfyui.${SECRET_DOMAIN}"
              WEB_ENABLE_AUTH: "false"
              WORKSPACE: "/workspace"
              CF_QUICK_TUNNELS: "false"
              SERVERLESS: "false"
              PROVISIONING_SCRIPT: "https://raw.githubusercontent.com/ai-dock/comfyui/main/config/provisioning/flux.sh"
            probes:
              &probeBase
              enabled: true
              custom: true
              &httpGet
              path: /
              port: 8188
              startup:
                <<: *probeBase
                spec:
                  httpGet: *httpGet
                  initialDelaySeconds: 15
                  periodSeconds: 5
                  timeoutSeconds: 3
                  failureThreshold: 40
              liveness:
                <<: *probeBase
                spec:
                  httpGet: *httpGet
                  initialDelaySeconds: 60
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness:
                <<: *probeBase
                spec:
                  httpGet: *httpGet
                  initialDelaySeconds: 15
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
            securityContext:
              privileged: true

            resources:
              requests:
                nvidia.com/gpu: 1
                cpu: 500m
                memory: 500Mi
              limits:
                memory: 2Gi
                nvidia.com/gpu: 1

    service:
      app:
        controller: comfyui
        ports:
          http:
            port: 8188

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      workspace:
        enabled: true
        existingClaim: comfyui-workspace
        globalMounts:
          - path: /workspace

      output:
        enabled: true
        existingClaim: comfyui-output
        globalMounts:
          - path: /workspace/ComfyUI/output

      config:
        type: configMap
        name: comfyui-configmap
        advancedMounts:
          comfyui:
            app:
              - path: /workspace/ComfyUI/custom_nodes/ComfyUI-Manager/config.ini
                subPath: config.ini
                readOnly: true
