---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: toolhive-operator
  namespace: ai
spec:
  chartRef:
    kind: OCIRepository
    name: toolhive-operator
  interval: 1h
  values:
    operator:
      replicaCount: 1
