---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./staging.yaml
<<<<<<<< HEAD:kubernetes/apps/network/ingress-nginx/certificates/kustomization.yaml
========
  #% if cloudflare.acme.production %#
>>>>>>>> upstream/main:templates/config/kubernetes/apps/network/ingress-nginx/certificates/kustomization.yaml.j2
  - ./production.yaml
