---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app qbittorrent
  namespace: &namespace media
spec:
  path: ./kubernetes/apps/media/qbittorrent/app
  targetNamespace: *namespace
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: volsync
      namespace: volsync-system
  wait: false
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 1h
  retryInterval: 2m

  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app qbitmanage
  namespace: &namespace media
spec:
  path: ./kubernetes/apps/media/qbittorrent/tools/qbitmanage
  targetNamespace: *namespace

  components:
    - ../../../../../components/volsync
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: qbittorrent
  wait: true
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: qbitrr
  namespace: &namespace media
spec:
  path: ./kubernetes/apps/media/qbittorrent/tools/qbitrr
  targetNamespace: *namespace
  dependsOn:
    - name: qbittorrent
  wait: true
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
