---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app seerr
  namespace: &namespace media
spec:
  components:
    - ../../../../components/volsync
  interval: 1h
  path: ./kubernetes/apps/media/seerr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: false
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
