---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    controllers:
      recyclarr:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          timeZone: &timeZone ${TIMEZONE}
          schedule: "@daily"
          successfulJobsHistory: 1
          failedJobsHistory: 1
          backoffLimit: 1
        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 8.1.0@sha256:1039bcecc98f4d3f4d9c8bb29cbfd1829c2b06d44d8802e392e7c2b42dfb2f40
            env:
              COMPlus_EnableDiagnostics: "0"
              TZ: *timeZone
              RADARR_API_KEY: ${RADARR_API_KEY}
              SONARR_API_KEY: ${SONARR_API_KEY}
            args: ["sync"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 500Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    persistence:
      config:
        type: persistentVolumeClaim
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 1Gi

      config-files:
        type: configMap
        name: recyclarr-configmap
        globalMounts:
          - path: /config/recyclarr.yaml
            subPath: recyclarr.yaml
            readOnly: true
          - path: /config/includes/Radarr_Standard_Custom_Formats.yaml
            subPath: Radarr_Standard_Custom_Formats.yaml
            readOnly: true
          - path: /config/includes/Sonarr_Anime_Custom_Formats.yaml
            subPath: Sonarr_Anime_Custom_Formats.yaml
            readOnly: true
          - path: /config/includes/Sonarr_Standard_Custom_Formats.yaml
            subPath: Sonarr_Standard_Custom_Formats.yaml
            readOnly: true
