---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich-server
  namespace: default
spec:
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  prune: true
  components:
    - ../../../../../components/nfs-scaler
  path: ./kubernetes/apps/default/immich/server/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich-machine-learning
  namespace: default
spec:
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  prune: true
  path: ./kubernetes/apps/default/immich/machine-learning/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  dependsOn:
    - name: immich-server
