---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: &name flux-operator
  namespace: ai
spec:
  image: ghcr.io/controlplaneio-fluxcd/flux-operator-mcp:v0.42.1
  transport: stdio
  groupRef: mcp-tools
  args:
    - serve
  env:
    - name: KUBECONFIG
      value: /kubeconfig/kubeconfig
  toolConfigRef:
    name: *name
  podTemplateSpec:
    spec:
      volumes:
        - name: kubeconfig
          secret:
            secretName: toolhive-secrets
            items:
              - key: KUBECONFIG
                path: kubeconfig
      containers:
        - name: mcp
          volumeMounts:
            - name: kubeconfig
              mountPath: /kubeconfig
              readOnly: true
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
            limits:
              cpu: 1
              memory: 256Mi
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 200Mi
---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPToolConfig
metadata:
  name: flux-operator
  namespace: ai
spec: {}
