---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: &name homeassistant
  namespace: ai
spec:
  image: ghcr.io/homeassistant-ai/ha-mcp:latest@sha256:0a19e114f98bccefff448031dde1e11a73660e195e2323c3a31f2f5ec05ba660
  transport: stdio
  groupRef: mcp-tools
  toolConfigRef:
    name: *name
  podTemplateSpec:
    spec:
      containers:
        - name: mcp
          env:
            - name: HOMEASSISTANT_URL
              value: https://homeassistant.${SECRET_DOMAIN}
            - name: HOMEASSISTANT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: toolhive-secrets
                  key: HOMEASSISTANT_API_TOKEN
          livenessProbe:
            tcpSocket: &probe
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            tcpSocket: *probe
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests: &requests
              cpu: 10m
              memory: 64Mi
            limits:
              cpu: 1
              memory: 256Mi
  resources:
    requests: *requests
    limits:
      cpu: 200m
      memory: 128Mi
---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPToolConfig
metadata:
  name: homeassistant
  namespace: ai
spec: {}
