---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: &name homeassistant
  namespace: ai
spec:
  image: ghcr.io/homeassistant-ai/ha-mcp:latest@sha256:e9a184df3eb946fe37b18bf22285278ca743278355e634ea61bbc5aa8c3620e4
  transport: stdio
  groupRef: mcp-tools
  toolConfigRef:
    name: *name
  podTemplateSpec:
    spec:
      containers:
        - name: mcp
          env:
            - name: HOMEASSISTANT_URL
              value: https://homeassistant.${SECRET_DOMAIN}
            - name: HOMEASSISTANT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: toolhive-secrets
                  key: HOMEASSISTANT_API_TOKEN
          resources:
            requests: &requests
              cpu: 10m
              memory: 64Mi
            limits:
              cpu: 1
              memory: 256Mi
  resources:
    requests: *requests
    limits:
      cpu: 200m
      memory: 128Mi
---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPToolConfig
metadata:
  name: homeassistant
  namespace: ai
spec: {}
