---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: &name homeassistant
  namespace: ai
spec:
  image: ghcr.io/homeassistant-ai/ha-mcp:latest
  transport: streamable-http
  groupRef: mcp-tools
  mcpPort: 8086
  env:
    - name: HOMEASSISTANT_URL
      value: https://homeassistant.${SECRET_DOMAIN}
  secrets:
    - name: toolhive-secrets
      key: HOMEASSISTANT_API_TOKEN
      targetEnvName: HOMEASSISTANT_TOKEN
  toolConfigRef:
    name: *name
  podTemplateSpec:
    spec:
      containers:
        - name: mcp
          command:
            - ha-mcp-web
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
            limits:
              cpu: 1
              memory: 256Mi
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi
---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPToolConfig
metadata:
  name: homeassistant
  namespace: ai
spec: {}
