---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: &name homeassistant
  namespace: ai
spec:
  image: ghcr.io/sparfenyuk/mcp-proxy:latest
  transport: streamable-http
  groupRef: mcp-tools
  args:
    - --port=8080
    - --host=0.0.0.0
    - --stateless
    - --pass-environment
    - --
    - mcp-proxy
    - https://homeassistant.${SECRET_DOMAIN}/api/mcp
    - --transport=streamablehttp
    - --no-verify-ssl
  secrets:
    - name: toolhive-secrets
      key: HOMEASSISTANT_API_TOKEN
      targetEnvName: API_ACCESS_TOKEN
  toolConfigRef:
    name: *name
  podTemplateSpec:
    spec:
      containers:
        - name: mcp
          resources:
            limits:
              cpu: "500m"
              memory: "110Mi"
            requests:
              cpu: "10m"
              memory: "110Mi"
  resources:
    limits:
      cpu: 200m
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 100Mi
---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPToolConfig
metadata:
  name: homeassistant
  namespace: ai
spec: {}
