---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homarr
spec:
  interval: 30m
  timeout: 20m
  chartRef:
    kind: OCIRepository
    name: homarr-labs
  postRenderers:
    - kustomize:
        patchesStrategicMerge:
          - |-
            apiVersion: apps/v1
            kind: Deployment
            metadata:
              name: homarr
            spec:
              template:
                spec:
                  initContainers:
                    - name: init-db
                      image: ghcr.io/home-operations/postgres-init:17
                      envFrom:
                        - secretRef:
                            name: homarr-secret

  values:
    rbac:
      enabled: true
    env:
      TZ: ${TIMEZONE}
    ingress:
      enabled: false
    podSecurityContext:
      fsGroup: 0
    securityContext:
      runAsUser: 0
      runAsGroup: 0
      allowPrivilegeEscalation: false
    httproute:
      enabled: true
      parentRefs:
        - name: envoy-internal
          namespace: network
          sectionName: https

      hostnames:
        - apps.${SECRET_DOMAIN}
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: homarr
              port: 7575

    database:
      type: postgresql

    envSecrets:
      dbCredentials:
        existingSecret: homarr-secret
        dbUrlKey: db-url
      dbEncryption:
        existingSecret: homarr-secret
        key: db-encryption-key

    persistence:
      homarrDatabase:
        enabled: false
      homarrImages:
        enabled: true
        storageClassName: openebs-zfs
        accessMode: ReadWriteOnce
        size: 1Gi
        mountPath: /images
