---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: homarr-database
  annotations:
    helm.sh/resource-policy: keep
spec:
  accessModes:
    - ReadWriteOnce
  dataSourceRef:
    apiGroup: volsync.backube
    kind: ReplicationDestination
    name: homarr-database-dst
  resources:
    requests:
      storage: 1Gi
  storageClassName: openebs-hostpath
