---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vpa
spec:
  chartRef:
    kind: OCIRepository
    name: vpa
  interval: 1h
  values:
    recommender:
      enabled: true
      extraArgs:
        storage: prometheus
        prometheus-address: http://prometheus-operated.observability.svc.cluster.local:9090
    updater:
      enabled: true
    admissionController:
      enabled: true
