---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbitrr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      qbitrr:
        type: deployment
        containers:
          app:
            image:
              repository: docker.io/feramance/qbitrr
              tag: v4.10.20
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    persistence:
      app:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /app/config
          - path: /config/.config

      config-file:
        type: secret
        name: qbitrr-secret
        globalMounts:
          - path: /config/.config/config.toml
            subPath: config.toml
            readOnly: true

      downloads:
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/BIGHDDZ1/Media/Downloads
        globalMounts:
          - path: /completed_downloads
            readOnly: false

      qbittorrent:
        existingClaim: qbittorrent
        globalMounts:
          - path: /qbittorrent
            readOnly: true
