---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: external-service-httproute-vaultwarden
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network

  hostnames:
    - vaultwarden.${SECRET_DOMAIN}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: internal-vaultwarden
          port: 80
