---
# PV for Immich external library (user pictures)
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-library-pv
spec:
  storageClassName: immich-nfs
  accessModes: ["ReadWriteMany"]
  capacity:
    storage: 7Ti
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: "${TRUENAS_IP}"
    path: "/mnt/TanguilleServer/TanguilleSMB"
---
# PVC for Immich upload location (app data: thumbnails, encoded videos, etc.)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-upload
spec:
  storageClassName: ceph-filesystem
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 100Gi
---
# PVC for Immich external library (user pictures)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library
spec:
  storageClassName: immich-nfs
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 7Ti
