---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-data-pv
spec:
  storageClassName: immich-nfs
  accessModes: ["ReadWriteMany"]
  capacity:
    storage: 7Ti
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: "${TRUENAS_IP}"
    path: "/mnt/TanguilleServer/TanguilleSMB"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-data
spec:
  storageClassName: immich-nfs
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 7Ti
