---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app wizarr
  namespace: &namespace media
spec:
  path: ./kubernetes/apps/media/wizarr/app
  targetNamespace: *namespace

  components:
    - ../../../../components/volsync
  dependsOn:
    - name: volsync
      namespace: volsync-system
  wait: true
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
