---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: bazarr-exporter
  namespace: &namespace observability
spec:
  targetNamespace: *namespace
  dependsOn:
    - name: bazarr
      namespace: media
  path: ./kubernetes/apps/observability/exporters/bazarr-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
