---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: streamystats
  namespace: &namespace media
spec:
  path: ./kubernetes/apps/media/streamystats/app
  targetNamespace: *namespace
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
  wait: true
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
