---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: xmrig
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      xmrig:
        strategy: RollingUpdate
        replicas: 1
        containers:
          app:
            image:
              repository: miningcontainers/xmrig
              tag: latest
            args:
              - "-o"
              - "p2pool.default.svc.cluster.local:3333"
              - "-k"
              - "--coin=monero"
            resources:
              requests:
                cpu: "2"
                memory: 2Gi
              limits:
                cpu: "4"
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
