---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: external-service-httproute-truenas
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network

  hostnames:
    - "truenas.${SECRET_DOMAIN}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: internal-truenas
          port: 80
