---
apiVersion: v1
kind: Service
metadata:
  name: internal-truenas
spec:
  ports:
    - port: 443
      targetPort: 443
      name: https
    - port: 80
      targetPort: 80
      name: http
  clusterIP: None
  type: ClusterIP
