# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://192.168.0.3:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.168.0.3"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "control-1"
    ipAddress: "192.168.0.2"
    installDisk: "/dev/vda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/9b3e16c22ad85296cb6b63d344104e78c5df5359aaad4dd18b61886db2d16438
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "00:16:3e:97:0e:d8"
        dhcp: false
        addresses:
          - "192.168.0.2/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.0.1"
        mtu: 1500
        vip:
          ip: "192.168.0.3"

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"
  - "@./patches/global/gpu-worker-patch.yaml"
  - "@./patches/global/zfs-patch.yaml"
  - "@./patches/global/node-labels-patch.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"
    - "@./patches/controller/kubernetes-talos-api-access-patch.yaml"
