---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app comfyui
  namespace: &namespace ai
spec:
  interval: 30m
  targetNamespace: *namespace
  components:
    - ../../../../components/nfs-scaler
  path: ./kubernetes/apps/ai/stable-diffusion/comfyui
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  postBuild:
    substitute:
      APP: *app
