---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: comfyui
  namespace: &namespace ai
spec:
  interval: 30m
  targetNamespace: *namespace
  path: ./kubernetes/apps/ai/stable-diffusion/comfyui
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  components:
    - ../../../../components/cpu-scaler
  postBuild:
    substitute:
      APP: comfyui
      NAMESPACE: *namespace
      KIND: StatefulSet
      MAX_REPLICAS: "1"
      CPU_THRESHOLD: "5"
