---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: homarr
  namespace: &namespace default
spec:
  targetNamespace: *namespace
  components:
    - ../../../components/volsync
  path: ./kubernetes/apps/default/homarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 30m
  timeout: 15m
  postBuild:
    substitute:
      APP: homarr-database
      VOLSYNC_CAPACITY: 1Gi
