---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

tasks:
  encrypt:
    desc: Encrypt all Kubernetes SOPS secrets
    cmd: |
      find "{{.KUBERNETES_DIR}}" -type f -name "*.sops.*" | while read -r file; do
          if sops filestatus "${file}" | jq --exit-status ".encrypted == false" &>/dev/null; then
              sops --encrypt --in-place "${file}"
          fi
      done

  resources:
    desc: Gather common resources in your cluster, useful when asking for support
    cmds:
      - for: { var: RESOURCE }
        cmd: kubectl get {{.ITEM}} {{.CLI_ARGS | default "-A"}}
    vars:
      RESOURCE: >-
        nodes
        gitrepositories
        kustomizations
        helmrepositories
        helmreleases
        certificates
        certificaterequests
        pods
    preconditions:
      - test -f {{.KUBECONFIG}}
      - which kubectl

  # https://docs.github.com/en/enterprise-cloud@latest/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/deploying-runner-scale-sets-with-actions-runner-controller#upgrading-arc
  upgrade-arc:
    desc: Upgrade the ARC
    cmds:
      - helm -n actions-runner-system uninstall cluster-runner
      - helm -n actions-runner-system uninstall actions-runner-controller
      - sleep 5
      - flux -n actions-runner-system reconcile hr actions-runner-controller
      - flux -n actions-runner-system reconcile hr cluster-runner
    preconditions:
      - which flux helm
