---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-machine-learning
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    controllers:
      immich-machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.2
            resources:
              requests:
                cpu: 15m
                memory: 250Mi
              limits:
                memory: 4000Mi
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            envFrom:
              - secretRef:
                  name: &secret immich-secret
              - configMapRef:
                  name: immich-config
            env:
              DB_URL:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: URI
    service:
      main:
        controller: immich-machine-learning
        ports:
          http:
            port: 3003
    persistence:
      upload:
        enabled: true
        existingClaim: immich-upload
        globalMounts:
          - path: /usr/src/app/upload
      cache:
        enabled: true
        type: emptyDir
