---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: ipmi-websocket
  namespace: network
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: external-service-httproute-ipmi
  timeout:
    http:
      requestTimeout: 0s
  connection:
    bufferLimit: 16Mi
  tcpKeepalive: {}
