---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io_backendtlspolicy_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: ipmi-backend-tls
spec:
  targetRefs:
    - group: ""
      kind: Service
      name: internal-ipmi
  validation:
    caCertificateRefs:
      - name: ipmi-ca-certificate
        group: ""
        kind: Secret
