---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: ipmi-websocket
  namespace: network
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: external-service-httproute-ipmi
    namespace: network
  timeout:
    http:
      requestTimeout: 0s # No timeout for long-lived WebSocket connections
  connection:
    bufferLimit: 16Mi # Increased buffer for WebSocket streams
  tcpKeepalive: {}
