apiVersion: v1
kind: Endpoints
namespace: network
metadata:
  name: internal-ipmi
subsets:
  - addresses:
      - ip: 192.168.0.45
    ports:
      - port: 443
        name: https
---
apiVersion: v1
kind: Service
metadata:
  name: internal-ipmi
spec:
  ports:
    - port: 443
      targetPort: 443
      name: https
  clusterIP: None
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: external-service-ingress-ipmi
  annotations:
    external-dns.alpha.kubernetes.io/target: "internal.${SECRET_DOMAIN}"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: internal
  rules:
    - host: ipmi.${SECRET_DOMAIN}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: internal-ipmi
                port:
                  number: 443
