---
apiVersion: v1
kind: Service
metadata:
  name: internal-ipmi
spec:
  type: ClusterIP
  ipFamilyPolicy: SingleStack
  ipFamilies:
    - IPv4
  selector:
    app: ipmi-proxy
  ports:
    - port: 80
      targetPort: 80
      name: http
