---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: openebs

  values:
    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: true
      replicated:
        mayastor:
          enabled: true
    mayastor:
      io_engine:
        nodeSelector:
          openebs.io/engine: mayastor
        # coreList is the ONLY way to limit CPU usage
        # Mayastor uses busy polling which bypasses Kubernetes CPU limits
        # The -l argument in the pod args controls which cores are used
        # Setting this to [4] limits it to 1 core instead of 2
        coreList: [4]
        resources:
          requests:
            cpu: "1"
            memory: "1Gi"
            hugepages-2Mi: 2Gi
          limits:
            cpu: "1"
            memory: "1Gi"
            hugepages-2Mi: 2Gi
      etcd:
        persistence:
          enabled: true
          storageClass: mayastor-etcd-localpv
    loki:
      enabled: false
    alloy:
      enabled: false
    minio:
      enabled: false
    openebs-crds:
      csi:
        volumeSnapshots:
          enabled: true
    localpv-provisioner:
      localpv:
        image:
          registry: quay.io/
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false
        basePath: /var/openebs/local
    zfs-localpv:
      enabled: true
      zfsNode:
        encrKeysDir: /var/openebs/keys
        nodeSelector:
          storage.zfs/available: "true"
      crds:
        zfsLocalPv:
          enabled: true
        csi:
          volumeSnapshots:
            enabled: false
