---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app open-webui
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: openwebui-secret
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: v0.6.36
            env:
              OLLAMA_BASE_URL: http://ollama.ai.svc.cluster.local:11434
              COMFYUI_BASE_URL: http://comfyui.ai.svc.cluster.local:8188
              ENABLE_IMAGE_GENERATION: True
            envFrom: *envFrom
            resources:
              requests:
                cpu: 500m
                memory: 500Mi
              limits:
                memory: 2Gi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "ollama.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/backend/data
