---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/keda.sh/scaledobject_v1alpha1.json
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: open-webui
  namespace: ai
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: open-webui
  minReplicaCount: 0
  maxReplicaCount: 1
  cooldownPeriod: 300
  idleReplicaCount: 0
  advanced:
    restoreToOriginalReplicaCount: true
    horizontalPodAutoscalerConfig:
      behavior:
        scaleDown:
          stabilizationWindowSeconds: 300
          policies:
            - type: Percent
              value: 100
              periodSeconds: 60
        scaleUp:
          stabilizationWindowSeconds: 0
          policies:
            - type: Pods
              value: 1
              periodSeconds: 60
  triggers:
    - type: prometheus
      metadata:
        serverAddress: http://prometheus-operated.observability.svc.cluster.local:9090
        metricName: ai_backend_available
        query: |
          count(kube_pod_status_ready{namespace="ai", pod=~"ollama.*", condition="true"} == 1) +
          count(kube_pod_status_ready{namespace="ai", pod=~"comfyui.*", condition="true"} == 1)
        threshold: "1"
        activationThreshold: "0"
