---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
radarr:
  radarr:
    base_url: http://radarr.media.svc.cluster.local
    api_key: !env_var RADARR_API_KEY
    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    quality_profiles:
      - name: UHD Bluray + WEB
        upgrade:
          allowed: true
          until_quality: Bluray-2160p
        qualities:
          - name: Bluray-2160p
          - name: WEB 2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
          - name: Remux-1080p
          - name: Bluray-1080p
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
          - name: Bluray-720p
          - name: WEB 720p
            qualities:
              - WEBDL-720p
              - WEBRip-720p
          - name: DVD

    quality_definition:
      type: movie
      qualities:
        - name: Bluray-2160p
          min: 30720
          max: 81920
        - name: WEB 2160p
          min: 15360
          max: 51200
        - name: Remux-1080p
          min: 20480
          max: 40960
        - name: Bluray-1080p
          min: 8192
          max: 30720
        - name: WEB 1080p
          min: 4096
          max: 15360
        - name: Bluray-720p
          min: 4096
          max: 12288
        - name: WEB 720p
          min: 2048
          max: 8192
        - name: DVD
          min: 1024
          max: 8192

    include:
      - template: radarr-quality-definition-movie
      - template: radarr-custom-formats-uhd-bluray-web
      - config: Radarr_Standard_Custom_Formats.yaml

sonarr:
  sonarr:
    base_url: http://sonarr.media.svc.cluster.local
    api_key: !env_var SONARR_API_KEY
    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    quality_profiles:
      - name: Any
        upgrade:
          allowed: true
          until_quality: Bluray-2160p
        qualities:
          - name: Bluray-2160p
          - name: WEB 2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
          - name: Bluray-1080p
          - name: WEB 720p
            qualities:
              - WEBDL-720p
              - WEBRip-720p
          - name: Bluray-720p
          - name: HDTV-1080p
          - name: HDTV-720p
          - name: SDTV
          - name: DVD
      - name: Anime
        upgrade:
          allowed: true
          until_quality: Bluray-2160p
        qualities:
          - name: Bluray-2160p
          - name: WEB 2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
          - name: Bluray-1080p
          - name: WEB 720p
            qualities:
              - WEBDL-720p
              - WEBRip-720p
          - name: Bluray-720p
          - name: HDTV-1080p
          - name: HDTV-720p
          - name: SDTV
          - name: DVD

    include:
      - template: sonarr-quality-definition-anime
      - template: sonarr-v4-quality-profile-anime
      - template: sonarr-v4-custom-formats-anime
      - config: Sonarr_Anime_Custom_Formats.yaml
      - config: Sonarr_Standard_Custom_Formats.yaml
