---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
radarr:
  radarr:
    base_url: http://radarr.media.svc.cluster.local
    api_key: !env_var RADARR_API_KEY
    delete_old_custom_formats: true

    quality_definition:
      type: movie

    quality_profiles:
      - trash_id: 64fb5f9858489bdac2af690e27c8f42f # UHD Bluray + WEB
        reset_unmatched_scores:
          enabled: true
      - name: 3D
        upgrade:
          allowed: true
          until_quality: Bluray-2160p
        qualities:
          - name: Bluray-2160p
          - name: WEB 2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p

    include:
      - config: Radarr_Standard_Custom_Formats.yaml

sonarr:
  sonarr:
    base_url: http://sonarr.media.svc.cluster.local
    api_key: !env_var SONARR_API_KEY
    delete_old_custom_formats: true

    quality_definition:
      type: series

    quality_profiles:
      - name: Any
        upgrade:
          allowed: true
          until_quality: Bluray-2160p
        qualities:
          - name: Bluray-2160p
          - name: WEB 2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
          - name: Bluray-1080p
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
          - name: WEB 720p
            qualities:
              - WEBDL-720p
              - WEBRip-720p
          - name: Bluray-720p
          - name: HDTV-1080p
          - name: HDTV-720p
          - name: SDTV
          - name: DVD
      - trash_id: 20e0fc959f1f1704bed501f23bdae76f # Anime
        reset_unmatched_scores:
          enabled: true

    include:
      - config: Sonarr_Anime_Custom_Formats.yaml
      - config: Sonarr_Standard_Custom_Formats.yaml
